<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Website pencarian restaurant terbaik yang ada di Indonesia by madsDicoding@org">
    <title>restaurant-mads</title>
    <link
      rel="shortcut icon"
      href="./images/logo/logo-1.png"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/7664686b67.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <section class="logo">
          <a href="#main" class="skip-content" tabindex="1">lanjutkan ke konten</a>
          <img src="./images/logo/logo-1.png" alt="logo restaurant-mads" />
          <h1>restaurant-mads</h1>
        </section>
        <button type="button" class="hum-button" title="buka tautan navigation">
          <i
            class="fa-solid fa-bars button-icon show fade"
            aria-label="list-menu"
          ></i>
        </button>
        <ul class="nav-list desktop">
          <li><a class="nav-link" href="./index.html">Home</a></li>
          <li><a class="nav-link" href="https://www.dicoding.com/" target="_blank">Dicoding</a></li>
          <li><a class="nav-link" href="https://www.instagram.com/trilogi_univ/" target="_blank">Contact</a></li>
        </ul>
        <ul class="nav-list mobile hide">
          <li><a class="nav-link" href="./index.html">Home</a></li>
          <li><a class="nav-link" href="https://www.dicoding.com/" target="_blank">Dicoding</a></li>
          <li><a class="nav-link" href="https://www.instagram.com/trilogi_univ/" target="_blank">Contact</a></li>
        </ul>
      </nav>
      <section class="hero">
        <img
          src="./images/heros/hero-image-5.jpg"
          alt="background dengan berbagai macam menu"
          class="hero-image"
          loading="lazy"
        />
        <div class="overlay">
          <h2>*restaurant*<br>mads</h2>
          <h3>Best Restaurant in Indonesia</h3>
          <a href="#prolog" class="button">Pendahuluan</a>
        </div>
      </section>
    </header>

    <main id="main">
      <section id="prolog" class="prolog">
        <section class="image-prolog">
          <img
            src="./images/other/prolog-1.jpg"
            alt="foto restaurant favorit di Jakarta Union"
            \
            class="prolog-image"
            loading="lazy"
          />
          <div class="overlay">
            <div class="title">
              <h2>Union Jakarta</h2>
              <p>Senayan, South Jakarta</p>
            </div>
          </div>
        </section>
        <article class="text-prolog">
          <h2>Pendahuluan</h2>
          <p>
            Restaurant Mads adalah platform katalog restoran yang berbasis website yang menyediakan daftar restoran dari berbagai daerah di Indonesia, mulai dari Sabang hingga Merauke. Kami berkomitmen untuk memberikan informasi yang lengkap dan akurat mengenai restoran yang terdaftar di Resto Radar, sehingga dapat membantu memberikan gambaran dan deskripsi yang jelas mengenai restoran yang akan Anda kunjungi. Jika Anda mencari restoran yang menyajikan hidangan lezat dan berkualitas tinggi.
          </p>
        </article>
      </section>

      <section class="content">
        <div class="title">
          <h2>Daftar Restoran Terbaik</h2>
        </div>

        <section class="card-container"></section>
      </section>

      <section class="modal-parent overlay">
        <section class="modal">
          <!-- modal head -->
          <section class="modal-head">
            <h2 class="modal-title">Informasi Restoran</h2>
            <button
              type="button"
              class="modal-button-close"
              title="Tutup modal pop-up"
            >
              <i class="fa-regular fa-circle-xmark" aria-label="Icon X"></i>
            </button>
          </section>
          <!-- modal body -->
          <section class="modal-body"></section>
          <!-- modal foot -->
          <section class="modal-foot">
            <p>copyright &copy; | restaurant-mads <span class="year"></span></p>
          </section>
        </section>
      </section>
    </main>

    <footer>
      <section class="company-footer">
        <div class="logo">
          <img src="./images/logo/logo-1.png" alt="logo restaurant-mads" />
          <h2>restaurant mads</h2>
        </div>
        <div class="company-copyright">
          <h2>copyright &copy; <span class="year"></span> - <span class="company-name">restaurant mads</span></h2>
        </div>
      </section>
    </footer>
  </body>
</html>